/* table, td, th {
    border: 1px solid red;   
  } */
  
  /* thead {
    float: left;   
  }
  
  
  thead th {
    display: block;   
    background: yellow;
  }
  
  tbody {
    float: right;   
  } */

table, td{
  border: 1px solid red;  
}

/* Retirar as setas do input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}