/* table, td, th {
    border: 1px solid red;   
  } */
  
  /* thead {
    float: left;   
  }
  
  
  thead th {
    display: block;   
    background: yellow;
  }
  
  tbody {
    float: right;   
  } */

body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
h1{
  color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo{
  font-size: 20px;

}

.titulo > td{
  padding-left: 10px;
}



/* tr{
  font-size: 14pt;
  background-color: white;
  color: white;
  
} */
th{
  font-size: 14pt;
  background-color: green;
  color: white;
}
td{
  font-size: 14pt;
  background-color:#000066;
  color: #CCCCCC;
  padding-left: 10px;
 
}
/* .titulo > tr{
  border: #a782b6;
} */

table, td{
  border: 8px solid #000066;  
}

/* Retirar as setas do input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}